<div class="container">
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>   
        <p><b>Ура!</b>@ViewBag.Operation завершена!</p>
    </div>
</div>
